<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>User login</title>
   
  </head>
  <body>



    <form class="box" method="post" action="/send_mail">
      <h1>Login</h1>
      <input id=username type="text" name="userid" placeholder="Username">
      <input id=password type="password" name="password" placeholder="Password">
      <button type="submit" value="send email"  >submit</button>
    </form>

   
  </body>
</html>